# Project files
.idea/
.vscode/

# Venv
.venv/
venv/
__pypackages__/
graia-ariadne/
graia-avilla/

# PDM
.pdm-python
.pdm.toml
pdm.lock
pdm.toml

# Archive
archive/

# Cache
__pycache__/
cache/

# Data
data/

# Temp
tmp/

# Tests
modules/test_*

# Config
config/*.json
config/*.yml
!config/example/*.json
!config/example/*.yml
!config/schema/*.json
