# Project files
.idea/

# Venv
__pypackages__/
graia-ariadne/
graia-avilla/
venv/

# PDM
.pdm-python
pdm.lock

# Archive
archive/

# Cache
__pycache__/
cache/

# Data
data/

# Temp
tmp/

# Tests
modules/test_*
tests/

# Config
config/*.json
config/*.yml
!config/example/*.json
!config/example/*.yml
!config/schema/*.json
