# Project files
.idea/
graia-ariadne/

# Cache
__pycache__/
cache/

# Data
data/

# Temp
tmp/

# Tests
tests/

# Config
config/*.json
config/*.yml
!config/example/*.json
!config/example/*.yml
!config/schema/*.json
